.place__link {
  font-family: "Inter" , "Times New Roman" , "Arial", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: opacity 0.4s linear;
}

.place__link:hover {
  opacity: 80%;
}

@media (max-width: 767px) {
  .place__link {
    padding: 0 16px;
  }
}
